.react-pagination-status {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.react-pagination-status .react-pagination-status__item {
    display: inline;
}

.react-pagination-status .react-pagination-status__btn {
    position: relative;
    float: left;
    padding: 6px 12px;
    /* margin-left: -1px; */
    color: #4BA5DA;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid #000000;
}

.react-pagination-status .react-pagination-status__btn:focus {
    outline: none;
}

.react-pagination-status .react-pagination-status__btn--active,
.react-pagination-status .react-pagination-status__btn:hover {
    color: #fff;
    background-color: #4BA5DA;
    border-color: #4BA5DA;
    cursor: pointer;
}

.react-pagination-status .react-pagination-status__btn--disable,
.react-pagination-status .react-pagination-status__btn--disable:hover {
    color: #979797;
    cursor: default;
    border-color: #000000;
    background-color: #000000;
}